<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            SGE •
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header_login %}{% endblock %}

    <!-- Content always goes here -->
    {% block body %}{% endblock %}

    {% block footer %}
        <footer class="bg-success">
            <p class="text-right font-weight-bold text-white mr-3">DESENVOLVIDO POR ZEIT BRASIL</p>
        </footer>
    {% endblock footer %}

    {% block javascripts %}{% endblock %}
</body>
</html>
