{% extends "base.html.twig" %}

{% block title %}
    {{ parent() ~ 'Cadastrar empréstimo' }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Cadastrar empréstimo</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="form-group id-user" hidden name="userId">
        {{ form_end(form) }}
    </div>
{% endblock %}
