{% extends "base.html.twig" %}

{% block title %}
    {{ parent() ~ 'Editar empréstimo' }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Editar empréstimo</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}