<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            SGE •
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    {% block header %}
        <div class="sge-header bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img  width="180" height="100" src="{{ asset('assets/img/logo.png') }}"/>
                </a>
            </div>
        </div>
    {% endblock %}

    {% block body %}
        <!-- Content always goes here -->
    {% endblock %}

    {% block footer %}
        <footer class="app-footer">
            <span>DESENVOLVIDO POR ZEIT BRASIL</span>
        </footer>
    {% endblock footer %}

    {% block javascripts %}{% endblock %}
</body>
</html>
