{% block navbar %}
    <nav class="sge-navbar navbar navbar-expand-lg navbar-light bg-success">
        <div class="container">
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/users">Usuários</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/customers">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/loans">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/installments">Parcelas</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/profits">Financeiro</a>
                        </li>
                    {% endif %}
                     {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="/customer_historic">Histórico de clientes</a>
                        </li>
                    {% endif %}
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="/profile" class="nav-link text-white">Perfil</a>
                    <a href="{{ logout_path() }}" class="nav-link text-white">Sair</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
